@mixin button($backgroundColor, $foregroundColor, $radius, $fontSize){
    background-color: $backgroundColor;
    color: $foregroundColor;
    border: none;
    // border: 1px solid $backgroundColor;
    border-radius: $radius;
    font-size: $fontSize;
    width: 100px;
    outline: none;
    cursor: pointer;

    &:hover{
        background-color: lighten($backgroundColor, 10%);
    }
    &:active{
        background-color: darken($backgroundColor, 10%);
    }
}